<!DOCTYPE html>  
<html lang="fa" dir="rtl">  
<head>
    <meta charset="UTF-8">
    <style>
        @font-face {
            font-family: 'samim';
            src: url('/Users/ali/Documents/programming/math_learn_web/learning/static/fonts/samim.ttf') format("truetype");
        }
        html * {
            font-family: 'samim', sans-serif !important;
        }
    </style>
</head>
<body>
    <h2>{{ title }} - {{ student_name }}</h2>
    {% for question in sample_questions %}
        <h4>{{ forloop.counter }} - {{ question.text }}</h4>
    {% endfor %}
</body>