<!DOCTYPE html>  
<html lang="fa" dir="rtl">  
<head>
    <meta charset="UTF-8">
    <style>
        @font-face {
            font-family: 'samim';
            src: url('/Users/ali/Documents/programming/math_learn_web/learning/static/fonts/samim.ttf') format("truetype");
        }
        html * {
            font-family: 'samim', sans-serif !important;
        }
        .float_left{float:left;}
        .float_right{float:right;}
    </style>
</head>
<body>
    <h2><span class="float_right">{{ title }}</span></h2>
        <h4><span class="float_left">{{ student_name }}</span></h4><br>
    {% for question in sample_questions %}
        <h4>{{ forloop.counter }} - {{ question.text }}</h4>
    {% endfor %}
</body>